/* class list styling page */

#myButton {
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.enabled {
    background-color: hsl(204, 100%, 50%);
    color: white;
}