#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

/* aligns button container in center */
#btnContainer {
    text-align: center;
}

/* css for each button */
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

/* changes background color when hovered */
.buttons:hover {
    background-color: hsl(214, 100%, 56%);
}