/* mouse events styling page */

#myBox {
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#myButton {
    font-size: 3rem;
}